#mainContainer {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 650px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

#topContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
}

#topLeftContainer {
    width: 300px;
    height: 100px;;
    background-color: blue;
    border-radius: 50px 0 0 0;
}

#title {
    margin-left: 35px;
}

#topRightContainer {
    width: 700px;
    height: 100px;
    background-color: rgb(52, 52, 252);
    border-radius: 0 15px 0 0;
}

#bottomContainer {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 450px;
}

#bottomLeftContainer {
    width: 300px;
    height: 450px;
    background-color: green;
    border-radius: 0 0 0 15px;
}

#addCategoryButton {
    margin-left: 10px;
    cursor: pointer;
}

#bottomRightContainer {
    width: 700px;
    height: 450px;
    background-color: rgb(0, 182, 0);
    border-radius: 0 0 50px 0;
}

#taskInputField {
    margin-left: 30px;
    margin-top: 15px;
    width: 600px;
    height: 25px;
}

.newCategory {
    height: 48px;
    padding-left: 40px;
    background-color: green;
    padding-top: 15px;
    cursor: pointer;
}

.deleteCategoryButton {
    float: right;
    width: 40px;
    height: 40px;
    background-color: orange;
    
}

.activeCategory {
    height: 48px;
    background-color: rgb(0, 182, 0);
    border-radius: 50px 0 0 50px;
    vertical-align: middle;
    cursor: pointer;
}

.tasksDisplay {
    margin-left: 40px;
}

.deleteTaskButton {
    float: right;
    width: 40px;
    height: 38px;
    background-color: pink;
}

#categoryHeading {
    margin-left: 40px;
}

.inputTable {
    display: none;
}

#inputTableContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
    height: 400px;
    top: 100px;
    left: 240px;
    z-index: -1;
}

.inputTableActive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 800px;
    left: auto;
    right: auto;
    font-family: 'Peddana', serif;
    font-size: 1.3em;
    text-align: center;
    background-color:#71fcab;
    border: 10px solid rgb(199, 253, 253);
    padding: 14px;
    animation: fadeIn 0.4s linear 1 forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.1)}
    100% { opacity: 1; transform: scale(1)}
}
#dueDate {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#priority {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#prioritySelectors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#mainFormInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#notes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}