#mainContainer {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 650px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

#topContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100px;
}

#topLeftContainer {
    width: 300px;
    height: 100px;;
    background-color: blue;
    border-radius: 50px 0 0 0;
}

#title {
    margin-left: 35px;
}

#topRightContainer {
    width: 700px;
    height: 100px;
    background-color: rgb(52, 52, 252);
    border-radius: 0 15px 0 0;
}

#bottomContainer {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 450px;
}

#bottomLeftContainer {
    width: 300px;
    height: 450px;
    background-color: green;
    border-radius: 0 0 0 15px;
}

#addCategoryButton {
    margin-left: 10px;
    cursor: pointer;
}

#bottomRightContainer {
    width: 700px;
    height: 450px;
    background-color: rgb(0, 182, 0);
    border-radius: 0 0 50px 0;
}

#taskInputField {
    margin-left: 30px;
    margin-top: 15px;
    width: 600px;
    height: 25px;
}

.newCategory {
    height: 48px;
    padding-left: 40px;
    background-color: green;
    padding-top: 15px;
    cursor: pointer;
}

.activeCat {
    height: 48px;
    background-color: rgb(0, 182, 0);
    border-radius: 50px 0 0 50px;
    vertical-align: middle;
    cursor: pointer;
}

.tasksDisplay {
    margin-left: 40px;
}

#categoryHeading {
    margin-left: 40px;
}